@import "variables","functions";

.menuBtn{
  position: absolute;
  top: 1rem;
  right:1rem;
  width: 28px;
  height: 3px;
  z-index: 1;
  cursor: pointer;
  background: set-text-color($primary-color);
  transition: all 0.5s ease-in-out;
  #{&}__invisible{
    position: absolute;
    top: -0.5rem;
    right: 0rem;
    width: 28px;
    height: 20px;
    background-color: transparent;
  }
  &.open{
    transform: rotate(720deg);

    background: transparent;

    &:before{
      transform: rotate(45deg) translate(1px,7px);
    }
    &:after{
      width: 28px;
      transform: rotate(-45deg) translate(5px,-10px);
    }
  }

  &:before{
    background: set-text-color($primary-color);
    content: '';
    position: absolute;
    top: -8px;
    width: 28px;
    height: 3px;
    transition: all 0.5s ease-in-out;
  }
  &:after{
    background: set-text-color($primary-color);
    content: '';
    position: absolute;
    top: 8px;
    width: 20px;
    height: 3px;
    transition: all 0.5s ease-in-out;

  }


}
nav {
  @include flex;
  visibility: hidden;

  & .menuNav {
    max-width: 200px;
    max-height: 200px;
    flex-flow: column wrap;
    @include flex;
    gap: 1rem;
    list-style-type: none;

    background-color: rgba($primary-color,0.5);
    transition: all 0.5s ease-in-out;
    transform: translateY(-100%);


    &.open {
      visibility: visible;
      transform: translateY(0);
    }
    &__link{
      color: pink;
      padding: 1rem;
      font-size: 1.5rem;
    }

  }
}
@include media-small{
  nav {
    visibility: visible;
    & .menuNav {
      width: 100vw;
      padding: 1rem;
      max-width: none;
      flex-flow: row;
      justify-content: space-evenly;
      transform: translateY(0%);
      position: fixed;
      top: 0;
      font-size: 1.5rem;


    }

  }
  .menuBtn{
    visibility: hidden;
  }
  footer{
    .social-icons{
      font-size: 1.5rem;
    }
    .copyright{
      font-size: 1.5rem;
    }
  }
}