@import "resets","variables", "home","functions","menu";
a{
  text-decoration: none;
  color: set-text-color($primary-color);
}
body{
  background-color: $primary-color;
}
header{
  position: fixed;
  width: 100%;
  padding: 1rem ;
  z-index: 2;
}

main{
  height: 100vh ;
  width: 100%;


  a{
    transition: all  0.5s ease-in-out;

    &:hover{
      color: $secondary-color;
    }
  }
  h2{
    color: set-text-color($primary-color);

  }

}
footer{
  width: 100vw;
  display: flex;
  justify-content: space-between;
  position: fixed;
  bottom: 0;
  padding: 1rem;
  right: 0;
  color: set-text-color($primary-color);

  .social-icons{
    display: grid;
    grid-template-columns: repeat(3 ,1fr);
    gap: min(2vw,20px);

  }


}