@import 'src/scss/variables', "src/scss/functions", "variables";

.admin-table {
  border-bottom: 2px $nav-color solid;
  border-collapse: collapse;

  .MuiCheckbox-root.header-checkbox {
    color: white;
  }

  .MuiTableCell-root {
    .MuiTableSortLabel-root {
      color: white;

      .MuiTableSortLabel-icon {
        color: white;
      }
    }

  }

  .MuiTableBody-root {
    background-color: aliceblue;
  }

  thead tr {
    background-color: $nav-color;
  }


  th, td {
    padding: 1rem;

    &:not(:last-child) {
      border-right: 1px solid $nav-color;
    }


  }

}
