@import "modal", "admin-table", 'src/scss/variables', "variables";

.admin-page-container {
  position: relative;
  padding: 1rem;
  @include media-medium{
    //To prevent parent margin
    overflow: auto;
    padding: 0;

  }

  .user-alert {
      position: absolute;
      top: -100px;
      width: $table-width;
      height: 50px;
      transition: 2s;
      @include media-medium{
        width: 100vw;
      }
    &.show{
      transition: 1s;
      top: 0;
      background-color: $nav-color;

    }
    h3{
      color: white;
      text-align: center;
    }

  }


}


