@import "modal", "admin-table", 'src/scss/variables', "variables";

.admin-page-container {
  position: relative;
  padding: 1rem;
  @include media-medium {
    //To prevent parent margin
    overflow: auto;
    padding: 0;

  }

}


