.history-page-container th,td{
    border: 1px solid #ddd;
}

.history-page-container .desc:after,
.history-page-container .asc:after {
    content: ' ';
    position: relative;

    left: 2px;
    border: 8px solid transparent;
}

.history-page-container .desc:after {
    top: 10px;
    border-top-color: silver;
}

.history-page-container .asc:after {
    bottom: 15px;
    border-bottom-color: silver;
}

.history-page-container .page {
    display: flex;
    justify-content: space-between;
}
.history-page-container .box {
    height: 30px;
    width: 5em;
    margin-top: 1rem;
    text-align: center;

}

.history-page-container .align {
    margin-top: 1rem;
    display: flex;
    justify-content: flex-end;
    gap: 40px;
    align-items: center;
}

.history-page-container .page-select {
    align-items: baseline;
    display: flex;
    gap: 10px;
}