@import "src/scss/functions";
h1.alg{
    font-family: Algerian;
}
.login-wrapper {
    padding-top: 6rem;
    gap: 1rem;
    @include flex-column-centered;
    .error{
        color: red;
    }
    form{
        display: flex;
        gap: 1rem;
        flex-direction: column;
    }
    @include button-style

}

