.navbar-container nav {
    background: rgba(73, 63, 252, 1);
    height: 80px;
    display: flex;
}

.navbar-container .cbr-logo {
    display: flex;
    justify-content: space-between;

}

.navbar-container .cbr-logo img {
    color: white;
    justify-self: start;
    margin-left: 15px;
    transform: scale(0.9, 0.9)
}

.navbar-container .cbr-logo h3 {
    margin-left: 5px;
    margin-top: 20px;
    color: white;
}

.navbar-container ul {
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-gap: 10px;
    list-style: none;
    text-align: center;
    width: 70vw;
    justify-content: end;
}

.navbar-container li {
    color: white;
    padding: 1rem ;

}

.navbar-container li:hover {
    background-color: #6d76f7;
    border-radius: 3px;
    transition: all 0.3s ease-out;
}

.navbar-container .user-and-logout {
    display: flex;
    position: relative;
    color: white;
    left: 15rem;
    align-items: center;


}

.navbar-container .user-and-logout .logoutBtn {
    padding: 4px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    background-color: aqua;
    position: relative;
    right: -20px;

}

.navbar-container .logoutBtn:hover {
    border-radius: 4px;
    transition: all 0.3s ease-out;
    background-color: #ffffff;

}







