.alg{
    font-family: Algerian;
}
.login-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;

}
.login-wrapper .error{
    color: red;
    width: 180px;

}
.login-wrapper .btn{
    margin: 40px 45px;
}
