
.footer {
    position: absolute;
    bottom: 0;
     display: flex;
    gap: 1rem;
    width: 100%;
    background: rgba(73, 63, 252, 1);
    color: white;
    justify-content: center;

}
.footer .social-media{
    justify-content: center;
    display: flex;
    gap: 1rem;
    cursor: pointer
}
.footer .info{
    justify-content: center;
    display: flex;
    gap: 1rem;
}
.footer .info span {
    margin-bottom: 10px;
}
